


<li class="nav-item ">
    <a class="nav-link" href="/qlkt/viewyeucau">
        <i class="fas fa-fw fa-table"></i>
        <span>Gửi Y/c</span></a>
</li>

<li class="nav-item">
    <a class="nav-link" href="/qlkt">
        <i class="fas fa-fw fa-table"></i>
        <span>Duyệt Y/c</span></a>
</li>


<li class="nav-item ">
    <a class="nav-link" href="/qlkt/xemlichsu" >
      <i class="fas fa-fw fa-wrench"></i>
      <span>Xem Lich Sử</span>
    </a>
  </li>

  <li class="nav-item ">
    <a class="nav-link" href="/house/themcvdinhky" >
      <i class="fas fa-fw fa-wrench"></i>
      <span>Công việc định kỳ</span>
    </a>
  </li>
  <style>
  .bg-gradient-primary {
        background-image: linear-gradient(180deg,#3cb803 10%,#202000 100%);
        
  }
  </style>