<div class="card shadow mb-4">
  <div class="card-header py-3">
    <ul class="nav nav-tabs card-header-tabs" id="cvTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="tuan-tab" data-toggle="tab" href="#tuan">📅 Tuần</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="thang-tab" data-toggle="tab" href="#thang">📆 Tháng</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="quy-tab" data-toggle="tab" href="#quy">📊 Quý</a>
      </li>
    </ul>
  </div>

  <div class="card-body">
    <div class="tab-content">

      <!-- TUẦN -->
      <div class="tab-pane fade show active" id="tuan">
        <%- include('./table_item.ejs', { data: data.filter(x => x.loai_dinh_ky === 'tuan'), color: 'primary' }) %>
      </div>

      <!-- THÁNG -->
      <div class="tab-pane fade" id="thang">
        <%- include('./table_item.ejs', { data: data.filter(x => x.loai_dinh_ky === 'thang'), color: 'success' }) %>
      </div>

      <!-- QUÝ -->
      <div class="tab-pane fade" id="quy">
        <%- include('./table_item.ejs', { data: data.filter(x => x.loai_dinh_ky === 'quy'), color: 'warning' }) %>
      </div>

    </div>
  </div>
</div>
