<div class="card shadow mb-4">
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h6 class="m-0 font-weight-bold text-primary">
      <i class="fas fa-clipboard-list mr-1"></i> DANH SÁCH CÔNG VIỆC ĐỊNH KỲ
    </h6>
    
    <a href="/house/cv/them" class="btn btn-sm btn-success btn-icon-split shadow-sm">
      <span class="icon text-white-50">
        <i class="fas fa-plus"></i>
      </span>
      <span class="text">Thêm công việc</span>
    </a>
  </div>

  <div class="card-header py-2 bg-light">
    <ul class="nav nav-tabs card-header-tabs font-weight-bold" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#tab_tuan" role="tab">
          <i class="fas fa-calendar-week mr-1"></i>TUẦN
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-success" id="profile-tab" data-toggle="tab" href="#tab_thang" role="tab">
          <i class="fas fa-calendar-alt mr-1"></i>THÁNG
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-warning" id="contact-tab" data-toggle="tab" href="#tab_quy" role="tab">
          <i class="fas fa-layer-group mr-1"></i>QUÝ / KHÁC
        </a>
      </li>
    </ul>
  </div>

  <div class="card-body px-2">
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active px-2" id="tab_tuan" role="tabpanel">
        <%- include('./table_item.ejs', { data: data.filter(x => x.loai_dinh_ky === 'tuan'), color: 'primary' }) %>
      </div>
      <div class="tab-pane fade px-2" id="tab_thang" role="tabpanel">
        <%- include('./table_item.ejs', { data: data.filter(x => x.loai_dinh_ky === 'thang'), color: 'success' }) %>
      </div>
      <div class="tab-pane fade px-2" id="tab_quy" role="tabpanel">
        <%- include('./table_item.ejs', { data: data.filter(x => x.loai_dinh_ky !== 'tuan' && x.loai_dinh_ky !== 'thang'), color: 'warning' }) %>
      </div>
    </div>
  </div>
</div>