<form id="myForm">
    <table id="dataTable">
        <thead>
            <tr>
                <th>id</th>
                <th>Tên hàng</th>
                <th>DVT</th>
                <th>Giá</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" name="autoid[]" readonly></td>
                
                <td><input type="text" name="tenhang[]"></td>
                <td><input type="text" name="dvt[]"></td>
                <td><input type="text" name="gia[]"></td>
                <td><button type="button" onclick="deleteRow(this)">Xóa</button></td>
            </tr>
        </tbody>
    </table>
    <button type="button" onclick="addRow()">Thêm</button>
    <button type="submit">Submit</button>
</form>

<script>
    function addRow() {
        var table = document.getElementById("dataTable").getElementsByTagName('tbody')[0];
        var newRow = table.insertRow(table.rows.length);
        var cells = Array.from({ length: 6 }, (_, index) => newRow.insertCell(index));
        cells[0].innerHTML = '<input type="text" name="autoid[]" readonly>';
        cells[1].innerHTML = '<input type="text" name="tenhang[]">';
        cells[2].innerHTML = '<input type="text" name="dvt[]">';
        cells[3].innerHTML = '<input type="text" name="gia[]">';
        
        cells[4].innerHTML = '<button type="button" onclick="deleteRow(this)">Xóa</button>';

        var currentDate = new Date();
        var formattedDate = currentDate.toISOString().slice(0, 10).replace(/-/g, '');
        var autoIDInput = cells[0].getElementsByTagName('input')[0];
        autoIDInput.value = formattedDate + '-' + (table.rows.length - 1).toString().padStart(4, '0');
    }

    function deleteRow(button) {
        var row = button.parentNode.parentNode;
        row.parentNode.removeChild(row);
    }
</script>